# Laravel API base URL
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api

# Typesense configuration
NEXT_PUBLIC_TYPESENSE_HOST=xxx.a1.typesense.net
NEXT_PUBLIC_TYPESENSE_PORT=443
NEXT_PUBLIC_TYPESENSE_PROTOCOL=https
NEXT_PUBLIC_TYPESENSE_SEARCH_ONLY_KEY=your_search_only_api_key